<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content border-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingrese producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form onsubmit="return addProduct(this)">
                <div class="mb-3">
                    <label class="form-label">Nombre *</label>
                    <input id="name" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Precio *</label>
                    <input id="price" type="number" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Foto URL *</label>
                    <input id="thumbnail" type="text" class="form-control">
                </div>
                <div id="alert"></div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
      </div>
    </div>
  </div>